  /**https://colorhunt.co/palette/7d5a5af1d1d1f3e1e1faf2f2**/ 

  body {
    background-color: #FF9F9F;  
  }

  hr{
      background-color: #FCDDB0;
      border-style: none;
      height: 2px;
  }

  h2 {
    color: #FFFAD7;
  }
  
  h1 {
    color:#FFFAD7;
  }