  /**https://colorhunt.co/palette/93b5c6c9ccd5e4d8dcffe3e3**/ 
  body {
    background-color: #93B5C6;  
  }

  hr{
      background-color: #E4D8DC;
      border-style: none;
      height: 2px;
  }

  h2 {
    color: #C65D7B;
  }
  
  h1 {
    color:#C65D7B;
  }