  /**https://colorhunt.co/palette/f6e7d8f68989c65d7b874356**/ 
  body {
    background-color: #F68989;  
  }

  hr{
      background-color: #C65D7B;
      border-style: none;
      height: 2px;
  }

  h2 {
    color: #874356;
  }
  
  h1 {
    color:#874356;
  }